@use "../../styles.scss" as style;
@use "../../assets/scss/abstracts/mixins" as mix;
:host {
    color: style.$text_color;
}

.panel_container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    

    .panel_header {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .panel_content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1600px;
        min-width: 40%;
        width: 100%;
        max-height: calc(100vh - 10.25rem);
        @include mix.slim_scroll((style.$key_color), #eee);
        overflow: auto;
        scroll-behavior: smooth;
        padding: 0 5%;
    }
    .panel_footer{
        display: flex;
        align-items: center;
        height: 55px;
        padding: 1rem;
        width: 100%;
        margin-top: auto;
        app-footer{
            flex: 1;
        }
    }
}
