* {
    a {
        text-decoration: none !important;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 500;
}

.icon {
    &::selection {
        background: none;
    }
}
