<div class="panel_header ">
<div class="nav_wrapper">
    <span class="nav_item" routerLink="welcome" routerLinkActive="active">Home</span>
    <span class="nav_item" routerLink="experience" routerLinkActive="active">Experience</span>
    <span class="nav_item" routerLink="feature" routerLinkActive="active">Feature</span>
    <span class="nav_item" routerLink="portfolios" routerLinkActive="active">Portfolios</span>
    <span class="nav_item" routerLink="tutorials" routerLinkActive="active">Tutorials</span>
    <!-- <span class="nav_item" routerLink="" routerLinkActive="active">Footer</span> -->
</div>
<div class="profile_wrapper">
    <span class="title">Arif Matubber</span>
    <div class="image_wrapper ">
        <img src="/assets/images/01.jpg" alt="">
    </div>
</div>

</div>