<div class="panel_header neumorphism">
<div class="nav_wrapper">
    <span class="nav_item active">Home</span>
    <span class="nav_item">Experience</span>
    <span class="nav_item">Resume</span>
    <span class="nav_item">Portfolio</span>
    <span class="nav_item">Blog</span>
    <span class="nav_item">Footer</span>
</div>
<div class="profile_wrapper">
    <span class="title">Arif Matubber</span>
    <div class="image_wrapper ">
        <img src="/assets/images/01.jpg" alt="">
    </div>
</div>

</div>