   <!-- landing page start -->
   <div class="landing_page">
    <div class="content_section">
        <span class="welcome">WELCOME TO MY WORLD</span>
        <span class="name">Hi, I'm <strong class="key_text">Arif M.</strong></span>
        <span class="title key_text">UI/UX & font end Developer</span>
        <span class="description">Nulla Lorem mollit cupidatat irure. Laborum magna nulla duis ullamco cillum
            dolor. Voluptate exercitation incididunt aliquip deserunt reprehenderit elit laborum. Nulla Lorem
            mollit cupidatat irure. Laborum magna nulla duis ullamco cillum dolor. </span>
        <div class="cta_wrapper">
            <button class="neumorphism key_text" mat-flat-button>Download Cv</button>
            <button class="neumorphism key_text" mat-flat-button>Hire Me</button>
        </div>
    </div>
    <div class="image_wrapper neumorphism">
        <img src="/assets/images/me.png" alt="">
    </div>
</div>
<!-- landing page end -->